.bigText{
    font-size: 6em;
    font-family: 'Courier New', Courier, monospace;   
}

.mediumText{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;    
}

.bigBox{
    padding-bottom: 2em;
    padding-top: 2em;
    padding-right: 3em;
    padding-left: 3em;

}

.center{
    text-align: center;
    margin: auto;
}

.blackButton{
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 2em;
    border-width: 0.5em;
    border-color: black;
}

.blackButton:hover{
    background-color: white;
    color: black;
    border-style: solid;
    border-radius: 2em;
    border-width: 0.5em;
}